<div class="container">
    <div class="card">
      <div class="card-header">
        <h3>{{commodityTitle}}</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="form" *ngIf="edit==false">
          <div class="form-group">
            <label for="">User:</label>
            <select class="form-control" name="user" formControlName="user" (change)="actionsAble()">
              <option value="">Select...</option>
              <option *ngFor="let user of users" value="{{user.userName}}">{{user.userName}}</option>
            </select>
          </div>
          
            <div class="form-group" *ngIf="edit==false">
              <label for="">Name:</label>
              <input type="text" class="form-control" formControlName="productName"  required/>
            </div>
            <div *ngIf="form.controls.productName.errors && form.controls.productName.dirty">
              <p *ngIf="form.controls.productName.errors.required" class="alert alert-danger">
                Es un campo requerido
              </p>
            </div>

            <div class="form-group">
                <label for="">Amount:</label>
                <input type="number" class="form-control" formControlName="productAmount" required/>
            </div>
            <div *ngIf="form.controls.productAmount.errors && form.controls.productAmount.dirty">
              <p *ngIf="form.controls.productAmount.errors.required" class="alert alert-danger">
                Es un campo requerido
              </p>
            </div>

            <div class="form-group"*ngIf="edit==false">
                <label for="">Registration Date:</label>
                <input type="date" class="form-control" formControlName="dateOfAdmission"  max="{{maxDate | date:'yyyy-MM-dd'}}" required/>
            </div>
            <div *ngIf="form.controls.dateOfAdmission.errors && form.controls.dateOfAdmission.dirty">
              <p *ngIf="form.controls.dateOfAdmission.errors.required" class="alert alert-danger">
                Es un campo requerido
              </p>
            </div>
            <br/>
            <button class="btn btn-success" (click)="saveCommodity()" [disabled]="form.invalid" type="submit">Save</button>
        </form >
        <form [formGroup]="formEdit" *ngIf="edit==true">
          <div class="form-group">
            <label for="">User:</label>
            <select class="form-control" formControlName="user" (change)="actionsAble()">
              <option value="">Select...</option>
              <option *ngFor="let user of users" value="{{user.userName}}">{{user.userName}}</option>
            </select>
          </div>
          <div class="form-group" >
            <label for="">Name:</label>
            <input type="text" class="form-control" formControlName="productName"  readonly/>
        </div>
        <div class="form-group">
          <label for="">Amount:</label>
          <input type="number" class="form-control" formControlName="productAmount" required/>
        </div>
        <div *ngIf="form.controls.productAmount.errors && form.controls.productAmount.dirty">
          <p *ngIf="form.controls.productAmount.errors.required" class="alert alert-danger">
            Es un campo requerido
          </p>
        </div>
          <div class="form-group" >
            <label for="">modified_by:</label>
            <input type="text" class="form-control" formControlName="userSelected" readonly/>
          </div>
          <div class="form-group" >
            <label for="">Modification Date:</label>
            <input type="date" class="form-control" formControlName="modificationDate" min="{{admissionDate | date:'yyyy-MM-dd'}}" max="{{maxDate | date:'yyyy-MM-dd'}}" required="edit==true"/>
          </div>
          <br/>
          <button class="btn btn-success" (click)="saveCommodity()" [disabled]="formEdit.invalid" type="submit">Save</button>
          <button (click)="cancelEdit()" class="btn btn-warning" style="margin-left: 10px;">Cancel</button>
        </form>
      </div>
    </div>
  </div>
  <br/>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h3>Commodities</h3>
      </div>
      <div class="card-body">
        <input type="text" class="form-control" placeholder="filtrar..."[(ngModel)]="filterName" name="filterName" >
        <table class="table table-hover">
          <thead>
            <tr class="text-center">
              <th>Name</th>
              <th>Amount</th>
              <th>Date Admission</th>
              <th>User</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let commodity of commodities | filter:filterName" class="text-center">
              <td>{{commodity.productName}}</td>
              <td>{{commodity.productAmount}}</td>
              <td>{{commodity.dateOfAdmission | date:'dd/MM/yyyy'}}</td>
              <td>{{commodity.user}}</td>
              <td>
                <button class="btn btn-warning" [disabled]="editAble==false || form.value.user=='' " (click)="editCommodity(commodity)" >Edit</button>
                <button (click)="deleteCommodity(commodity)" class="btn btn-danger" [disabled]="deleteDisabled==false || form.value.user==''" style="margin-left: 10px;">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>